@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-navyblue);
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white);
}

:root {
  --color-iris: rgba(77, 90, 229, 1);
  --color-navyblue: rgba(46, 47, 66, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-cloud: rgba(244, 244, 253, 1);
  --color-cornflower: rgba(231, 233, 252, 1);
  --color-slate: rgba(67, 68, 85, 1);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.caption-h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.caption-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.caption-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.caption-navyblue {
  color: var(--color-navyblue);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* HEADER */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--color-navyblue);
}

.logo span {
  color: var(--color-iris);
}

.menu-list-link,
.contacts-list-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
}

.menu-list-link {
  color: var(--color-navyblue);
}

.contacts-list-link {
  color: var(--color-slate);
}

.menu-list-item :hover,
.contacts-list-item :hover .menu-list-item :focus,
.contacts-list-item :focus {
  color: var(--color-iris);
}

/* HERO */
.hero {
  background-color: var(--color-navyblue);
  color: var(--color-white);
  text-align: center;
}

.order-service {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-iris);
  border: none;
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 170px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.order-service:hover,
.order-service:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ADVANTAGES */
.advantages-card-info {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-slate);
  letter-spacing: 0.02em;
}

.advantages-list-item {
  width: 264px;
}

/* WHAT ARE WE DOING */

/* OUR TEAM */
.our-team {
  background-color: var(--color-cloud);
}

.our-team-list-item {
  background-color: var(--color-white);
  width: 264px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

.our-team-card-info {
  color: var(--color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* FOOTER */
.footer {
  background-color: var(--color-navyblue);
}

.footer .logo {
  color: var(--color-cloud);
}

.footer-info {
  width: 264px;
  color: var(--color-cornflower);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* PORTFOLIO */
.filter-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-cloud);
  border: 1px solid;
  border-color: var(--color-cornflower);
  color: var(--color-iris);
  font-size: 16px;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 8px 16px;
  line-height: 1.5;
}

.filter-list-item :hover,
.filter-list-item:focus {
  color: var(--color-white);
  background-color: var(--color-iris);
  cursor: pointer;
}

/* articles */
.article-list-item {
  background-color: var(--color-white);
  border: 1px solid;
  border-color: var(--color-cornflower);
  width: 360px;
}

.pa-category {
  color: var(--color-slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.article-info {
  padding: 0px 16px;
}

.article-link {
  cursor: pointer;
}
